fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-jose[cryptography]

passlib[bcrypt]
bcrypt

python-multipart

pydantic
pydantic-settings

python-dotenv

groq

pypdf

redis

httpx

email-validator
